 @import 'ember-paper';

.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 20px;
    background-color: #2f2f2f;
    border-right: 1px solid #eee;
    color: white;
    text-align: left;
}
