<ul class="nav nav-sidebar">
    <li class="active">
        {{#link-to 'books'}}
            <span class="glyphicon glyphicon-book"></span> Libros
        {{/link-to}}
    </li>
    <li>
        {{#link-to 'workspaces'}}
            <span class="glyphicon glyphicon-th-list"></span> Bibliotecas
        {{/link-to}}
    </li>
</ul>
