<ul class="nav nav-sidebar">
    <li class="active">
        {{#link-to 'books'}}
            Libros
        {{/link-to}}
    </li>
    <li>
        {{#link-to 'workspaces'}}
            Bibliotecas
        {{/link-to}}
    </li>
</ul>
