<div class="container-fluid">
    {{application-menu}}

    <div class="row">
        <div class="col-xs-offset-2 col-xs-10 no-padding">
            {{application-navbar devices=decicesNames}}

            <div class="row padding">
                <div class="col-xs-12 col-md-7">
                    {{#each model.epubs as |epub|}}
                        {{epub-list-item data=epub}}
                    {{/each}}
                </div>

                <div class="col-xs-12 col-md-5">
                    {{outlet}}
                </div>
            </div>
        </div>
    </div>
</div>




Hey yo! {{#link-to 'test'}}{{#paper-button raised=true}}Click here!{{/paper-button}}{{/link-to}}
