<div class="content col-xs-12 col-md-7">
    {{#each model as |epub index|}}
        {{epub-list-item data=epub index=index showDetail="showDetail"}}
    {{/each}}
</div>

<div class="content col-md-offset-6 col-xs-12 col-md-4">
    {{liquid-outlet}}
</div>
