<div class="content col-xs-12 col-md-7">
    {{#each model as |epub index|}}
        {{epub-list-item data=epub index=index showDetail="showDetail"}}
    {{/each}}
</div>

{{outlet class="content col-md-offset-7 col-xs-12 col-md-5 fixed"}}
